        body {
        background: #005FA0;
    }
    
    .Zonas {
        /*list-style-type para elegir el tipo de lista, dependiendo de que tipo de lista tengas (ul/ol)*/
        color: black;
        list-style-type: square;
        /*list-style-type para ol son: Decimal,decimal-leading-zero, upper-latin, lower-latin, lower-alpha, entre otros*/
        list-style: none;
        margin: 0;
        padding: 5px;
        font-size: 20px;
    }
    /*list-style-position para dejar un espaceado puede ser o inside como outside*/
    
    ul li a {
        color: #AFCBDE;
        background: #001F34;
        padding: 0px 15px;
        text-decoration: none;
    }
    
    h3 {
        font-size: 50px;
        background: #00375C;
        padding: 1px 10px;
        width: 850px;
        height: auto;
    }
    
    h2 {
        /*border-collapse puede ser collapse o separate (esto para tablas)*/
        font-size: 50px;
        /*en los td se  pueden agragar padding, border*/
        margin: 20px 10px;
        /*table tr:hover{color} esto sirve para cuando el usuario pase por arriba de la fila se coloree*/
        width: 500px;
        /*table td:hover{background y color} para al pasar por arriba de una celda se coloree*/
        color: orange;
        position: relative;
        right: auto;
    }
    
    .Banner {
        background: #004F85;
        width: 60%;
        height: 219px;
        padding: 30px;
    }
    
    .Banner a {
        color: 30E21A;
        text-decoration: none;
        font-size: 2em;
        box-shadow: 0px 5px 0px #A09F05;
        background: #C0BE0C;
        padding: 10px 15px;
    }
    
    .Banner a:hover {
        box-shadow: 0px 2px 0px #A09F05;
        background: #0162A5;
    }
    
    .Banner a:active {
        box-shadow: none;
        color: FFF;